.footer-container{
    width: 100%;
    background-color: rgb(48, 48, 48);
    
}

.footer-item-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 0.5px solid rgb(77, 77, 77);
    width: 100%;
    align-items: center;
    font-size: 18px;
    padding: 35px 0px;
    flex-wrap: wrap;
}


.footer-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : left;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 240px;
    height: 100%;
    padding-top: 20px
}

.footer-item-title{
    font-weight: bold;
}

.footer-item-content li{
    padding: 10px;
}

.footer-item-content li:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 400;
}

.footer-item-content{
    padding-left: 0;
    font-weight: 350;
}

.footer-up-arrow{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height:10vh; 
}

.footer-up-arrow i{
    z-index: 1;
    padding-right: 30px;
    font-size: 40px;  
    color:rgb(88, 88, 88);
    cursor: pointer;
}

.footer-item-content-images{
    display:flex;
    gap: 15px;
    padding-top: 5vh;
}

.footer-item-content-images img{
    border-radius: 5px;
}

.footer-item-instagram{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5vh;
    font-weight: 500;
}

.footer-item-content-images img{
    width: 6vw;
    height: auto;
}

#footer-contact{
    text-decoration: none;
    color: white
}

.footer-item ul {
    list-style-type: none;
}